.calendar-card {
  margin: 8px 12px;
  padding: 5px;
}

.month-title {
  font-size: 14px;
  font-weight: 600;
}

.calendar-scroll {
  display: flex;
  gap: 8px;
  overflow-x: auto;
  padding: 8px 0;
}

.day-btn {
  /* border: 2px solid red !important; */
  min-width: 48px;
  height: 48px;
  border-radius: 50%;
  padding: 0;
  flex-shrink: 0;
  font-weight: 500;
}

.day-date{
    display: flex;
    flex-direction: column;
}
.day-btn.today {
  border: 2px solid var(--mat-primary);
}

.day-btn.selected {
  box-shadow: inset 0 0 0 2px var(--mat-primary);
}

.day-btn.completed {
  background-color: #4caf50;
  color: #fff;
}

.day-number {
  line-height: 1;
}

mat-icon {
  font-size: 16px;
}
